#page {
    display: flex;
}
#header {
    width: 800px;
    height: 150px;
    background-color: #93a305;
    
}


#sidebar {
    height: 800px;
    width: 150px;
    background-color: #0f8300;
}

#content {
    height: 650px;
    width: 650px;
    background-color: #6c7fe7;
}



#footer {
    width: 650px ;
    height: 150px;
    background-color: #2f3033;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}